<div class="paymob-page-container">
  <!-- Top Bar with Cancel Button -->
  <div class="top-nav-bar">
    <button routerLink="/subscriptions/pricing" class="btn-cancel-payment">
      <svg class="back-arrow-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      Cancel Payment
    </button>
  </div>

  <div *ngIf="error" class="error-container">
    <div class="error-alert-box">
      <div class="alert-layout">
        <div class="alert-icon-wrapper">
          <svg class="alert-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="alert-text-wrapper">
          <p class="alert-message">
            {{ error }} Redirecting back...
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Embedded Paymob Iframe -->
  <div class="iframe-container" *ngIf="iframeUrl">
    <iframe [src]="iframeUrl" class="secure-iframe" title="Secure Payment Flow"></iframe>
  </div>
</div>
